@import 'colors';

.orderDetails{
    background:  linear-gradient(45deg, rgb(255, 181, 181), rgb(247, 247, 247));
    width: 100%;
    padding: 20px;
    

    >main{
        border-radius: 5px;
        background: white;
        max-width: 900px;
        padding: 2rem;
        overflow-x: auto;
        margin: auto;
        >h1{
            text-transform: uppercase;
            text-align: center;
            font-size: 2.7rem;
            font-weight: 100;
            margin: 1rem;
        }
        >div{
            margin: 2rem 0;
            text-align: center;
            >h1{
                font-size: 1.5rem;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            p{
                // letter-spacing: 2px;
                margin: 1rem;
                >b{
                    margin-right: 5px;
                }
            }
        }
        >article{
            h1{
                font-size: 1.5rem;
                letter-spacing: 2px;
                margin: 1rem 1rem;
                text-transform: uppercase;
            }

            >div{
                background-color: rgb(246, 246, 246);
                margin: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-radius: 3px;

                >h4{
                    font-weight: 400;
                }
            }

        }
    }
}

@media screen and (max-width:460px) {
    .orderDetails {
        >main{
            >article{
                >h1{
                    text-align: center;
                }
                >div{
                    flex-direction: column;
                    text-align: center;
                }
            }
        }   
    }

}